.header-block {
    max-width: 575px;
    margin: 0 auto;
    text-align: center;
}
.header-block__recent {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33; /* 24/18 */
    color: #3056D3;
    margin-bottom: 8px;
}

.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.12; /* 45/40 */
    text-transform: capitalize;
    color: #212B36;
    margin-bottom: 15px;
}
.header-block__text {
    line-height: 1.50; /* 24/16 */
}


@media (max-width: 991.98px){
    .header-block__title {
        font-size: 35px;
    }
}

@media (max-width: 479.98px){
    .header-block__title {
        font-size: 30px;
    }
}