/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");


/* ====================== ШРИФТИ =============================== */


@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap");

/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */

/*  body {
	/* font-family: "Poppins", sans-serif;  Times New Roman  за замовченням */
	/* font-size: 14px;  16 за замовченням */
	/* font-weight: 300;  400 (Regular) за замовченням */
	/* color: #6c757d;  #000000 (чорний) за замовченням 
} */



/* Пример */

body {
    font-family: "Poppins" ,serif; 
    font-size: 14px;
    font-weight: 300;
    color: #6C757D;
	background: url(../img/1.webp) 0 20%  / cover no-repeat; 
	overflow: hidden;
}



[class*="__container"] {
	max-width: 1270px; 
	margin: 0 auto;
	/* padding-left: 15px;
	padding-right: 15px; */
} 


.car {
	position: absolute;
	top: 65%;
	left: 10%;
	width: 603px;
	height: 95px;
	border-radius: 0 53% 30px 0 ;
	background-color: #606b56;
	border: 1px solid black;
	animation: car-position 15s ease-in-out 1 normal running 0s forwards;
	z-index: 2;
}
.car__doors {
	position: absolute;
	bottom: 0;
	left: 198px;
	width: 218px;
	height: 181px;
	border-radius: 10px 140px 0 0;
	background-color: #78866b;
	border: 1px solid black;
	overflow: hidden;
}


.doors__front {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 50%;
	height: 100%;
}

.doors__front::before {
	position: absolute;
	content: "";
	top: 55%;
	left: 15%;
	content: "";
	display: inline-block;
	border: 2px solid #3c4236;
	width: 27px;
	height: 8px;
	transform: skew(-35deg, 0deg);

}

.doors__front::after {
	position: absolute;
	top: 56.8%;
	left: 20%;
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #3c4236;
	border-radius: 50%;
}


.front__window {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	height: 50%;
	width: 100%;
	border-bottom: 1px solid black;
	overflow: hidden;
}


/* 
.front__window:hover  .front__glass{
	transform: translate(0, 68%);
} */




.front__window img {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.6);
}

.front__glass {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
	background-color: #c6e0e889;
	transition: all .6s;
	animation:  front-window 1s linear 1 normal running 3.1s forwards, front-window-close 1s linear 1 normal running 12.3s forwards; 
}


@keyframes front-window {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 68%);
	}
}

@keyframes front-window-close {
	0% {
		transform: translate(0, 68%);
	}
	100% {
		transform: translate(0, 0);
	}
}


.car__text {
	padding: 70px;
	text-align: center;
	position: absolute;
	bottom: 220%;
	left: -15%;
	display: inline-block;
	min-height: 200px;
	min-width: 200px;
	background: url(../img/idea.webp) 0 0 / 100% 100% no-repeat;
	opacity: 0;
	visibility: hidden;
	animation:  car-text 7s linear 1 normal running 3.5s forwards 
}



@keyframes car-text {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	20% {
		opacity: 1;
		visibility: visible;
	}
	60% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}


.front__mirror {
	border-radius: 10px 0 0 10px;
	position: absolute;
	top: 45%;
	left: 75%;
	display: inline-block;
	width: 22px;
	height: 15px;
	background-color: #a9a4ae;
	z-index: 1;
	border: 2px dotted rgb(99, 93, 93);
	overflow: hidden;
}




.back-door__symbol {
	position: absolute;
	bottom: 15%;
	left: 30%;
	display: inline-block;
}
.back-door__symbol img {
	width: 30px;
	height: 30px;
}

.doors__back {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 50%;
	height: 100%;
	border-right: 1px solid black;
}


.back-door__window {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 80%;
	height: 47%;
	outline: 0.5px solid black;
	overflow: hidden;
}


.doors__back::before {
	position: absolute;
	top: 55%;
	left: 30%;
	content: "";
	display: inline-block;
	border: 2px solid #3c4236;
	width: 27px;
	height: 8px;
	transform: skew(-35deg, 0deg);
}


.doors__back::after {
	position: absolute;
	top: 56.8%;
	left: 35%;
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #3c4236;
	border-radius: 50%;
}

.back-door__window  img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.window-back__block {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #4c5d70b9;
	transition: all .6s;
}

.back-door__window:hover .window-back__block {
	transform: translate(0, 60%);
}

.car__long-part {
	position: absolute;
	top: 100%;
	left: 0;
}


.car__circle-one {
	position: absolute;
	top: 42px;
	left: 46px;
	display: inline-block;
	width: 100px;
	height: 50px;
	background-color: #4f5847;
	border-radius: 50% 50% 0 0;
}

.car__circle-two {
	position: absolute;
	top: 42px;
	right: 46px;
	display: inline-block;
	width: 100px;
	height: 50px;
	background-color: #4f5847;
	border-radius: 50% 50% 0 0;
}

.car__wheel-first {
	position: absolute;
	right: 9%;
	top: 60%;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: black;
	border: 2px dotted rgb(50, 40, 40);
	outline: 4px dashed rgb(37, 32, 32);
	transition: all .8s;
	animation: wheels-rotate 3s linear 1 normal forwards, wheels-rotate 3s linear 1 normal 12s forwards;
}


.car__wheel-first span {
	position: absolute;
	top: 5%;
	right: 4%;
	display: inline-block;
	width: 70px;
	height: 70px;
	background-color: grey;
	border-radius: 50%;
	border: 2px dashed rgb(50, 41, 41);
}


.car__wheel-first:hover  {
	transform: rotate(360deg);
}

.car__wheel-second {
	position: absolute;
	left: 9%;
	top: 60%;
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: black;
	border: 2px dotted rgb(50, 40, 40);
	outline: 4px dashed rgb(37, 32, 32);
	transition: all .5s;
	animation: wheels-rotate 3s linear 1 normal forwards, wheels-rotate 3s linear 1 normal 12s forwards;
}

.car__wheel-second  span {
	position: absolute;
	top: 4%;
	left: 4%;
	display: inline-block;
	width: 70px;
	height: 70px;
	background-color: grey;
	border-radius: 50%;
	border: 2px dashed rgb(50, 41, 41);
}

.car__wheel-second:hover  {
	transform: rotate(360deg);
}

.car__turnover {
	position: absolute;
	top: 30px;
	right: 150px;
	display: inline-block;
	width: 15px;
	height: 5px;
	background-color: #ed9121;
	border-radius: 30px;
	transition: all .1s;
	animation: front-light-house 0.3s ease-in-out 5 normal running 11.7s;
}

/* .car__turnover:hover {
	box-shadow: 2px 2px 15px 2px #c5c740;
} */

.car__front-lighthouse {
	position: absolute;
	bottom: 22px;
	right: 0;
	width: 22px;
	height: 10px;
	border-radius:  30px 0 0 30px;
	background-color: #e4e4f4;
}


.car__front-lighthouse:hover {
	background-color: #fde910;
	box-shadow: 100px 30px 90px 45px #f1de08;

}

.car__back-lighthouse {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 22px;
	height: 10px;
	border-radius:  0 0 30px 0;
	background-color: #e4e4f4;
	/* transition: all .1s; */
	animation: back-lighthouse 1.5s linear 1 normal running 2s, back-lighthouse 1.5s linear 1 normal running 14s;
}

.car__back-lighthouse::before {
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 22px;
	height: 10px;
	background-color: #986960;
	border-radius:  0 30px 0 0;

}

/* .car__back-lighthouse:hover {
	background-color: #ba2e2e;
	box-shadow: 0 0 30px 10px #ba2e2e;
} */


.car__machine-gun {
	position: absolute;
	bottom: 150%;
	left: 0;
	width: 110px;
	height: 7px;
	background-color: #000;
	transform: rotate(15deg);
	transition: all .5s;
	animation:  car-gun 0.4s linear 1 normal running 42.55s forwards,  car-gun-pow 1s linear 5 normal running 43s forwards;
}


.car__machine-gun::before {
	position: absolute;
	bottom: -30px;
	left: 15px;
	content: "";
	display: inline-block;
	width: 58px;
	height: 7px;
	background-color: #000;
	transform: rotate(100deg);
}

.car__machine-gun::after {
	position: absolute;
	bottom: -20px;
	left: 35px;
	content: "";
	display: inline-block;
	width: 55px;
	height: 7px;
	background-color: #000;
	transform: rotate(58deg);
}


.car__aim {
	position: absolute;
	bottom: 100%;
	left: 4px;
	display: inline-block;
	width: 5px;
	height: 7px;
	background-color: rgb(7, 2, 2);
}

.car__stand {
	position: absolute;
	bottom: -19px;
	left: 99%;
	transform: rotateY(180deg);
	width: 50px;
	height: 30px;
}
.car__cartridges {
	position: absolute;
	top: 100%;
	right: -1px;
	width: 30px;
	height: 50px;
	background-color: #3c4236;
}

.car__cartridges::before {
	position: absolute;
	top: 0;
	left: 50%;
	content: "";
	display: inline-block;
	width: 2px;
	height: 100%;
	background-color: grey;
}

.car__cartridges img {
	width: 100%;
}

.car__patron-first {
	position: absolute;
	bottom: 92%;
	left: 0;
	z-index: 5;
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	animation:  first-patron 0.9s linear 4 normal running 43s forwards;
}
.car__patron-second {
	position: absolute;
	top: 0%;
	left: 0;
	animation: hide-patrons 0.1s linear 4 normal running 44s forwards;
}
.car__patron-third {
	position: absolute;
	top: 20%;
	left: 0;
	animation: hide-patrons 0.1s linear 4 normal running 45s forwards;
}
.car__patron-fourth {
	position: absolute;
	top: 40%;
	left: 0;
	animation: hide-patrons 0.1s linear 4 normal running 46s forwards;
}

.car__patron-fifth {
	position: absolute;
	top: 60%;
	left: 0;
	animation: hide-patrons 0.1s linear 4 normal running 46.9s forwards;
}




@keyframes car-gun {
	0% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(10deg) translate(40px, 0);
}
}

 @keyframes car-gun-pow {
	0% {
		transform: translate(40px, -5px) rotate(5deg);
	}
	100% {
		transform: translate(40px, 0px) rotate(10deg);
	}
} 


@keyframes first-patron {
	0% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
	70% {
		opacity: 1;
		visibility: visible;
		transform: translate(-900px,0);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		transform: translate(-900px,0);
	}
}

@keyframes hide-patrons {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}


.post {
	position: absolute;
	bottom: 30%;
	right: 10%;
	z-index: 1;
}

.block {
	width: 500px;
	height: 120px;
	background-color: #b1aa98;
}

.block__list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 0;
	z-index: 1;
}
.block__item {
	display: inline-block;
	width: 5%;
	height: 100%;
	transform: skew(-10deg, 15deg);
	background-color: #a99693;
}

.block__item:not(:last-child) {
	margin-right: 20px;
}

.block__stop {
	position: absolute;
	top: 0;
	left: 40px;
	display: inline-block;
	width: 20%;
	height: 100%;
	background-color: red;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	z-index: 2;
}

.stop__title {
	margin-top: 40%;
	text-align: center;
	font-size: 33px;
	font-weight: 700;
	color: #fff;
}

.block__bags {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bags__item {
	position: absolute;
	bottom: 0;
	left: 15px;
	display: inline-block;
	width: 20%;
	height: 40%;
	background-color: #fff;
	border-radius: 10px 10px 5px 5px;
}


.bags__item_first {
	position: absolute;
	left: 140px;
}
.bags__item_second {
	position: absolute;
	left: 260px;
}
.bags__item_third {
	position: absolute;
	left: 380px;
}



.block__flag {
	position: absolute;
	bottom: 300%;
	left: 98%;
	display: inline-block;
	width: 150px;
	height: 100px;
	background-color: yellow;
	z-index: -1;
}

.block__flag::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: blue;
}


.flag__stick {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 353%;
	background-color: black;
}



.block__circle {
	position: absolute;
	top: 0;
	left: -30%;
}

.circle__item {
	transform: skew(-10deg);
	width: 35px;
	height: 40px;
	border-radius: 50%;
	border: 6px dotted rgb(166, 148, 148);
}


/* Анімації */

@keyframes wheels-rotate {
	0% {
		transform: rotate(0deg);
	} 
	100% {
		transform: rotate(360deg);
	}

}

@keyframes car-position {
	0% {
		transform: translate(-150%, 0);
	}
	20% {
		transform: translate(0, 0);
	}
	80% {
		transform: translate(0, 0);
	} 
	81% {
		transform: rotate(3deg);
	}
	100% {
		transform: translate(950px, 100px);

	}
}

@keyframes back-lighthouse {
	0% {
		background-color: #e4e4f4;
		box-shadow: 0 0 0 0 #e4e4f4;
	}
	90% {
		background-color: #ba2e2e;
		box-shadow: 0 0 30px 10px #ba2e2e;
	} 
	100% {
		background-color: #e4e4f4;
		box-shadow: 0 0 0 0 #e4e4f4;
	}
}

@keyframes front-light-house {
	0% {
		box-shadow: 0px 0px 0px 0px #ed9121;
	}
	100% {
		box-shadow: 2px 2px 15px 2px #c5c740;
	}
}

.block__poroh {
position: absolute;
top: 0;
left: 0;
z-index: -1;
height: 100%;
width: 100px;
opacity: 0;
visibility: hidden;
animation:  poroh 4.2s linear 1 normal running 4s forwards;

}

.block__poroh::before {
	z-index: 1;
    position: absolute;
    bottom: 44%;
    left: 80%;
    content: "";
    display: inline-block;
    width: 5px;
    height: 18px;
    background-color: rgb(158, 22, 104);
	animation: mouse 0.2s linear 10 normal running 4.9s;
	opacity: 0;
}


.block__poroh img {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-90deg);
	max-height: 100%;
}


.poroh__text {
	padding: 30px;
	text-align: center;
	position: absolute;
	bottom: 100%;
	left: -20%;
	display: inline-block;
	min-height: 100%;
	min-width: 100%;
	background: url(../img/idea.webp) 0 0 / 100% 100% no-repeat;
	opacity: 0;
	visibility: hidden;
	animation: poroh-text 7s linear 1 normal running 4.7s;
}


@keyframes poroh-text {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	20% {
		opacity: 1;
		visibility: visible;
	}
	70% {
		opacity: 0.1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}


@keyframes poroh {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 0);
	}
	50% {
		opacity: 1;
		visibility: visible;
		transform: translate(-100px, 0);
	}
	90% {
		opacity: 1;
		visibility: visible;
		transform: translate(-100px, 0);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 0);
	}
}





.clouds {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
}
.clouds__item {
	position: absolute;
	display: inline-block;
}

.clouds__item img {
	max-width: 150px;
}

.clouds__item:nth-child(1) {
	top: 60px;
	right: 0px;
	animation: clouds 30s infinite ease-in-out alternate;
}
.clouds__item:nth-child(2)  {
	top: 50px;
	left: 350px;
	animation: clouds 30s infinite ease-in-out alternate-reverse;
}
.clouds__item:nth-child(3) {
	top: 120px;
	right: -80px;
	animation: clouds 30s infinite ease-in-out alternate;
}
.clouds__item:nth-child(4) {
	top: 200px;
	left: 750px;
	animation: clouds 30s infinite ease-in-out alternate-reverse;
}
.clouds__item:nth-child(5) {
	top: 45px;
	right: 60%;
	animation: clouds 34s infinite ease-in-out alternate;
}
.clouds__item:nth-child(6) {
	top: 90px;
	left: -17%;
	animation: clouds 30s infinite ease-in-out alternate-reverse;
}
.clouds__item:nth-child(7) {
	top: 35px;
	right: 0px;
	animation: clouds 34s infinite ease-in-out alternate;
}
.clouds__item:nth-child(8) {
	top: 80px;
	left: 50%;
	animation: clouds 30s infinite ease-in-out alternate-reverse;
}
.clouds__item:nth-child(9) {
	top: 5px;
	right: 120px;
	animation: clouds 34s infinite ease-in-out alternate;
}
.clouds__item:nth-child(10) {
	top: 140px;
	left: -70%;
	animation: clouds 30s infinite ease-in-out alternate-reverse;
}




@keyframes clouds {
	0% {
		transform: translate(-1440px, 0);
	}
	100% {
		transform: translate(1440px, 0);
	}
}

.putin-loh {
	display: inline-block;
	position: absolute;
	bottom: 30%;
	left: 0;
	min-width: 500px;
	min-height: 200px;
	animation: putin-loh 10s ease-in-out 1 normal running 17s forwards;
	opacity: 0;
	visibility: hidden;
}
.putin-loh__tank {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.putin-loh__tank img{
	max-width: 100%;	
}

.putin-loh__ebalo {
	position: absolute;
	top: 6px;
	left: 20%;
	width: 20%;
	height: 100%;
	z-index: 1;
	animation: ebalo 3.5s ease-in-out 1 normal running 18.5s forwards;
}

.putin-loh__ebalo img {
	max-width: 100%;
}

.putin-loh__blood {
	position: absolute;
	top: -5px;
	left: 40px;
	width: 100%;
	z-index: 2;	
	opacity: 0;
	visibility: hidden;
	animation: blood 0.2s ease-in-out 1 normal running 44.2s forwards;
}

.putin-loh__circle {
	z-index: 1;
    position: absolute;
    top: 5px;
    left: 37px;
    width: 45px;
	opacity: 0;
	visibility: hidden;
	animation: blood 0.2s ease-in-out 1 normal running 43.7s forwards;
}


@keyframes putin-loh {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(-100%, 0);
	}
	60% {
		opacity: 1;
		visibility: visible;
		transform: translate(100px, 0);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(200px, 40px);
	}
}


@keyframes ebalo {
	0% {
		transform: translate(0, 30%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes blood {
	0% {
		opacity: 0;
		visibility: hidden
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}



.putin-loh__text {
	padding: 40px;
	position: absolute;
	top: -105px;
	left: -53px;
	display: inline-block;
	background: url(../img/idea.webp) 0 0  / 100% 100% no-repeat;
	min-width: 120px;
	height: 120px;
	opacity: 0;
	visibility: hidden;
	animation: ebalo-say 3s ease-in-out 1 normal running 27.1s forwards;
}

.putin-loh__ebalo::before {
	z-index: 1;
    position: absolute;
    bottom: 72%;
    left: 47%;
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: rgb(158, 22, 104);
	animation: mouse 0.2s linear 10 normal running 28.2s;
	opacity: 0;
	visibility: hidden;
}

.putin-loh__fire {
	display: inline-block;
	position: absolute;
	bottom: 24%;
	right: 124px;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	animation:  fire 0.5s linear 1 normal running 46.5s forwards;
}
.putin-loh__fire-2 {
	display: inline-block;
	position: absolute;
	bottom: 45%;
	right: 176px;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	animation:  fire 0.5s linear 1 normal running 48.4s forwards;
}


.putin-loh__bomb {
	position: absolute;
    display: inline-block;
    top: -77px;
    left: -75px;
    width: 100%;
    height: 100%;
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	animation:  bomb 1.5s linear 1 normal running 48.4s;
}

.putin-loh__bomb img {
	width: 100%;
	height: 100%;
}


@keyframes bomb {
	0% {
	opacity: 1;
	visibility: visible;
	}
	50% {
	opacity: 1;
	visibility: visible;
	}
	100% {
	opacity: 0;
	visibility: hidden;
	}
}


@keyframes fire {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}




@keyframes ebalo-say {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	80% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}


.block__poroh-second {
	position: absolute;
	top: 0;
	right: 50%;
	z-index: -1;
	width: 20%;
	height: 100%;
}

.poroh-second__text {
	padding: 30px;
	text-align: center;
	position: absolute;
	bottom: 237px;
    right: -35px;
	display: inline-block;
	min-height: 100%;
	min-width: 200px;
	background: url(../img/idea.webp) 0 0 / 100% 100% no-repeat;
	opacity: 0;
	visibility: hidden;
	animation: poroh-text 6.3s linear 1 normal running 32s;
}

@keyframes poroh-text {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	10% {
		opacity: 1;
		visibility: visible;
	}
	65% {
		opacity: 1;
		visibility: visible;
	}
	70% {
		opacity: 0.1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.poroh-second__img {
	position: absolute;
	bottom: 120%;
	left: 112px;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	animation:  poroh-2 2s linear 1 normal running 30.1s forwards;

}
.poroh-second__img::before {
	z-index: 1;
    position: absolute;
    bottom: 45%;
    left: 27%;
    content: "";
    display: inline-block;
    width: 23px;
    height: 5px;
    background-color: rgb(158, 22, 104);
	animation: mouse 0.2s linear 10 normal running 32.3s;
	opacity: 0;
	visibility: hidden;

}

.poroh-second__img img {
	max-width: 100%;
}

@keyframes poroh-2 {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 100%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}

@keyframes mouse {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	50% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.car__text_mod {
	left: -1%;
	opacity: 0;
	visibility: hidden;
	animation:  car-text 4.5s linear 1 normal running 37s forwards; 
} 


.poroh-second__gun {
	position: absolute;
	bottom: 119%;	
	right: -4px;
	width: 322px;
	height: 161px;
	display: inline-block;
	opacity: 0;
	visibility: hidden;
	animation: gun 1.5s linear 1 normal running 43s forwards, rotate-gun 2s linear 1 normal running 45s forwards,  rotate-gun-update 2s linear 1 normal running 47s forwards;
}

.poroh-second__gun img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
}

.gun__patron {
	position: absolute;
	top: 22px;
	left: 0;
	display: inline-block;
	width: 96px;
	height: 30px;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	animation:  gun-run 1s linear 1 normal running 46.3s, gun-run 1s linear 1 normal running 48.3s;
}

.gun__patron img {
	max-width: 100%;
	max-height: 100%;
}

.patron__fire {
	position: absolute;
	bottom: -13px;
	right: -13px;
	width: 50%;
	height: 100%;
}

.patron__fire img {
	max-width: 100%;
}


@keyframes gun {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 100%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}

@keyframes rotate-gun {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-15deg) translate(10px);
	}
	65% {
		transform: rotate(-15deg) translate(10px);
	}
	75% {
		transform: rotate(-15deg) translate(20px);
	}
	100% {
		transform: rotate(-15deg) translate(10px);
	}
}


@keyframes gun-run {
	0% {
		opacity: 1;
		visibility: visible;
		transform: translate(0px, 0px);
	}
	20% {
		opacity: 1;
		visibility: visible;
		transform: translate(-790px, 0px);
	}
	30% {
		transform: translate(-790px, 0px);
		opacity: 0;
		visibility: hidden;
	}
	100% {
		transform: translate(-790px, 0px);
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes rotate-gun-update {
	0% {
		transform: rotate(-15deg) translate(10px);
	}
	50% {
		transform: rotate(-10deg) translate(10px);
	}
	65% {
		transform: rotate(-10deg) translate(10px);
	}
	75% {
		transform: rotate(-10deg) translate(20px);
	}
	100% {
		transform: rotate(-10deg) translate(10px);
	}
}




/* animation:  gun-run 4.2s linear 1 normal running 4s forwards; */


.sternenko {
	position: absolute;
	top: 55%;
	left: 30%;
	width: 612px;
}


.sternenko__block {
	opacity: 0;
	visibility: hidden;
	width: 100%;
	animation:  sternenko-block 0.5s linear 1 normal running 51s forwards; 
}

.sternenko__block img {
	max-width: 100%;
}


.sternenko__block::before {
	z-index: 3;
    position: absolute;
    bottom: 63%;
    left: 44%;
    content: "";
    display: inline-block;
    width: 65px;
    height: 14px;
    background-color: rgb(26, 16, 22);
    animation: mouse 0.2s linear 10 normal running 52s;
    opacity: 0;
    visibility: hidden;
}

.sternenko__text {
	position: absolute;
    top: -117px;
    left: -13%;
    padding: 46px;
    text-align: center;
    display: inline-block;
    height: 207px;
    width: 237px;
    background: url(../img/idea.webp) 0 0 / 100% 100% no-repeat;
}

@keyframes sternenko-block {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 100%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}

