/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,700&display=swap");


/* ====================== ШРИФТИ =============================== */

/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */

/*  body {
	/* font-family: "Poppins", sans-serif;  Times New Roman  за замовченням */
	/* font-size: 14px;  16 за замовченням */
	/* font-weight: 300;  400 (Regular) за замовченням */
	/* color: #6c757d;  #000000 (чорний) за замовченням 
} */



/* Пример */

body {
    font-family: "Poppins", serif; 
    font-size: 18px;
    font-weight: 400;
    color: #6C757D;
}

[class*="__container"] {
	max-width: 1230px; 
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
} 

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}



.minimalist {
	padding: 100px 0;
}
.minimalist__items {
	display: flex;
	flex-direction: column;

}

.minimalist__text {
	margin-bottom: 53px;
}
.text-minimalist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 40px;
}
.text-minimalist__title {
	text-align: center;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	color: #000000;
}
.text-minimalist__text  {
	max-width: 518px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.60;
	color: #000000;
}

.minimalist__img {
	margin-bottom: 100px;
	overflow: hidden;
}
.minimalist__img img {
	max-width: 100%;
	transition: transform 0.8s;
}



.minimalist__img img:hover {
	transform: scale(1.05);
}

.minimalist__description {
	margin-bottom: 81px;
}

.description__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 -16px;
}
.description__left-side {
	padding: 0 16px;
	flex: 0 1 50%;
}

.left-side__title, .right-side__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.40;
	color: #333333;
	margin-bottom: 24px;
}
.left-side__text, .right-side__text, .left-side__date, .left-side__link  {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.60;
	color: #9C9C9C;
	transition: color 0.3s;
}
.left-side__text {
	margin-bottom: 60px;
}

.left-side__link:hover {
	color: #000000;
}

.left-side__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
}

.description__right-side {
	padding: 0 16px;
	flex: 0 0 50%;
}

.right-side__text p:not(:last-child) {
	margin-bottom: 30px;
}


.minimalist__block-img {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.list__row {
	flex: 0 1 50%;
	padding: 0 16px;
}

.list__row:nth-child(3n+3) {
	flex: 1 1 100%;
}

.list__row:not(:last-child) {
	margin-bottom: 24px;
}

.list__item {
	overflow: hidden;
}

.list__item img {
	width: 100%;
	transition: transform 0.5s;
}

.list__item img:hover {
	transform: scale(1.05);
}

.list__item:not(:last-child){
	margin-bottom: 24px;
}



.achievement {
	padding: 100px 0;
}

.achievement__header {
	margin-bottom: 40px;

}
.achievement__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 26px;
}
.achievement__title::after {
	content: "";
	display: inline-block;
	line-height: 1.5;
	background-color: #000000;
	height: 2px;
	width: 464px;
}


.achievement__items {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.achievement__item {
	display: flex;
	column-gap: 120px;
	row-gap: 30px;
	justify-content: flex-start;
	align-items: center;
}

.achievement__img {
	flex: 0 1 62%; /* 746/1200 */
	overflow: hidden;
}
.achievement__img img{
	max-width: 100%;
	transition: transform 0.8s;
}
.achievement__img img:hover {
	transform: scale(1.05);
}

.achievement__descr {
	flex: 0 1 27%; /* 334/1200 */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 0 0 340px;
	row-gap: 20px;
	column-gap: 20px;
}

.achievement__subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.40;
	color: #333333;
}
.achievement__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.60;
	color: #9C9C9C;
}

@media (max-width: 907px) {
	.minimalist__text {
		margin-bottom: 45px;
	}
	.text-minimalist {
		row-gap: 30px;
	}
	.text-minimalist__title {
		font-size: 50px;
	}
	.text-minimalist__text {
		max-width: 450px;
		font-size: 16px;
	}
	.minimalist__img {
		margin-bottom: 50px;
	}
} 
@media (max-width: 991.98px) {
	.achievement__title {
		flex-direction: column;
	}
	.achievement__items {
		gap: 35px;
	}
	.achievement__item  {
		justify-content: center;
		column-gap: 45px;
	}
	.achievement__img, .achievement__descrs {
		flex: 0 1 50%;
	}
	.minimalist {
		padding-bottom: 50px;
	}
	.achievement {
		padding-top: 50px;
	}
}
@media (max-width: 767.98px) {
	.minimalist__img {
		margin-bottom: 40px;
	}
	.description__wrapper {
		margin: 0 -20px;
	}
	.description__left-side {
		padding: 0 20px;
	}
	.left-side__title, .right-side__title {
		font-size: 22px;
	}
	.left-side__text, .right-side__text, .left-side__date, .left-side__link {
		font-size: 16px;
	}
	.left-side__text {
		margin-bottom: 45px;
	}
	.minimalist__description  {
		margin-bottom: 50px 0;
	}
	.achievement__subtitle  {
		font-size: 22px;
	}
	.achievement__text  {
		font-size: 16px;
	}
	.minimalist {
		padding: 50px 0;
	}
	.achievement {
		padding-top: 25px;
	}
	.minimalist__img img {
		animation: scale-animation 2s ease-in infinite;
	}
}
@media (max-width: 675px) {
	.text-minimalist__title {
		font-size: 46px;
	}
	.text-minimalist {
		row-gap: 20px;
	}
	.minimalist  {
		padding-bottom: 25px;
	}
	.achievement__item  {
		column-gap: 25px;
	}
	.achievement__descr {
		row-gap: 15px;
	}
 .achievement__text  {
	font-size: 15px;
 }
} 
@media (max-width: 627px) {
	.minimalist__block-img {
		margin: 0 -10px;
	}
	.list__row {
		padding: 0 10px;
	}
	.achievement__img {
		display: none;
	}
	.achievement__descr  {
		justify-content: center;
		align-items: center;
		flex: 0 1 275px;
	}
	.achievement__title  {
		gap: 15px;
	}
	.achievement__title::after {
		width: 300px;
	}
	.achievement__text {
		text-align: center;
		font-size: 14px;
	}
} 
@media (max-width: 576px) {
	.minimalist {
		padding-top: 25px;
		padding-bottom: 5px;
	}
	.achievement {
		padding-top: 10px;
	}
}
@media (max-width: 554px) {
	.description__wrapper {
		flex-direction: column;
		row-gap: 40px;
	}
	.left-side__title, .right-side__title {
		text-align: center;
	}
	.left-side__text, .right-side__text, .left-side__date {
		text-align: justify;
	}
	.right-side__text p:not(:last-child) {
	margin-bottom: 20px;
	}
}
@media (max-width: 526px) {
	.text-minimalist__title {
	font-size: 40px;
	}
	.text-minimalist__text {
	font-size: 14px;
	}
	.minimalist__text  {
		margin-bottom: 30px;
	}
} 
@media (max-width: 479.98px) {
	.text-minimalist__title {
		font-size: 35px;
	}
	.text-minimalist__text {
font-size: 13px;
	}
}

@media (max-width: 435px) {
	.text-minimalist__title {
		font-size: 32px;
	}
	.minimalist__img {
		margin-bottom: 35px;
	}
	.left-side__title, .right-side__title {
		font-size: 20px;
	}
	.left-side__text, .right-side__text, .left-side__date {
		font-size: 14px;
	}
	.description__wrapper {
		row-gap: 30px;
	}
	.left-side__text {
		margin-bottom: 25px;
	}
}
@media (max-width: 435px) {
	.text-minimalist__title {
		font-size: 30px;
	}
	.achievement__header {
		margin-bottom: 30px;
	}
	.achievement__items  {
		gap: 30px;
	}
	.achievement__subtitle  {
		font-size: 20px;
	}
	.achievement__text  {
		font-size: 13px;
	}
}


@keyframes scale-animation {
	0% {
		transform: scale(1);
	}
	50%  {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

/* 
Адаптивна верстка - це не про 
впихування дизайну під ПК у маленьки екрани,
це про зручність у користуванні та оптимізацію
*/

/* Хороші практики адаптивної верстки: */
/* 
- Дивіться на екран, та відповідайте на питання "Чи зручно цим користуватись?"
- Для того щоб робити верстку швидко, продумовуйте адаптив ще на ПК
- Не ховайте від користувача найважливіші елементи
- Один клік завжди кращий за два
- Не робіть великі відступи. Зайвий простір тут непотрібен
- Важливі навігаційні вузли робіть зручнішими (крупнішими), не змушуйте користувача цілитись
- Оптимізаця простору та завантаження. Ховайте зайве
- Долучайте свій власний досвід користувача, не повторюйте те що не зручно вам самим
*/

/* ---------------------------- */

/* якщо пристрій вміє робити наведення, додаємо hover */
/* @media (any-hover: hover) {
	a:hover {
	}
} */