@charset "UTF-8";
/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

body {
  line-height: 1;
}

/* ====================== ШРИФТИ =============================== */
/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */
body {
  font-family: "Poppins", serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #E5E5E5;
  background-color: #333;
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* ------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6.0625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  gap: 0.625rem;
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: 3.125rem;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.38; /* 25/18 */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 1;
}
.header__logo::after {
  content: ".";
  color: #DDBEA9;
}
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  min-height: 1.5625rem;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 1 1 auto;
          flex-direction: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 41.25em) {
  .header__menu:not(:last-child)::after {
    content: "";
    background-color: rgba(229, 229, 229, 0.5);
    width: 0.0625rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.0625rem;
            flex: 0 0 0.0625rem;
    height: 1.5625rem;
  }
}
.header__search {
  background: url("../img/icons/search.svg") center no-repeat;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.375rem;
          flex: 0 0 1.375rem;
  -webkit-transform: translate(0.3125rem, 0rem);
      -ms-transform: translate(0.3125rem, 0rem);
          transform: translate(0.3125rem, 0rem);
}
@media (max-width: 41.25em) {
  .header__search {
    -webkit-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
    background-size: 100%;
  }
}

@media (max-width: 41.25em) {
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
}
@media (max-width: 41.25em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #212529;
    padding: 4.375rem 0.9375rem 1.25rem 0.9375rem;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    height: 3.125rem;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(134, 17, 17, 0.5333333333);
    z-index: 1;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 0.3125rem;
}
@media (max-width: 41.25em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.menu__item .menu__link.active {
  color: #fff;
}
.menu__item .menu__link.active::before {
  width: 100%;
  left: 0;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #fff;
  }
  .menu__item:hover .menu__link::before {
    width: 100%;
    left: 0;
  }
}
.menu__item_parent {
  position: relative;
  padding-right: 0.8125rem;
}
@media (any-hover: hover) {
  .menu__item_parent:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media (min-width: 41.25em) {
  .menu__item_parent::after {
    content: "";
    position: absolute;
    top: 0.625rem;
    right: 0;
    width: 0.5rem;
    height: 0.3125rem;
    background: url("../img/icons/arrow.svg") 0 0/100% no-repeat;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 2.08; /* 25/12 */
  color: rgba(248, 249, 250, 0.5);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  display: inline-block;
  position: relative;
}
@media (max-width: 41.25em) {
  .menu__link {
    font-size: 1.5rem;
    color: white;
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0.125rem;
  background-color: #DDBEA9;
  border-radius: 0.125rem;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
@media (min-width: 41.25em) {
  .sub-menu {
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-top: 0.625rem;
    pointer-events: none;
  }
}
.sub-menu__list {
  background-color: #212529;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  min-width: 8.75rem;
}
@media (max-width: 41.25em) {
  .sub-menu__list {
    padding: 0.625rem 0 0 0;
    min-width: 0;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sub-menu__link {
  font-weight: 500;
  line-height: 2.08; /* 25/12 */
  color: rgba(248, 249, 250, 0.6);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    color: #F8F9FA;
  }
}
@media (max-width: 41.25em) {
  .sub-menu__link {
    font-size: 1rem;
  }
}

.menu-icon {
  display: none;
}
@media (max-width: 41.25em) {
  .menu-icon {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    position: relative;
  }
  .menu-icon::before, .menu-icon::after, .menu-icon span {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    margin-top: -0.03125rem;
  }
}

@media (max-width: 41.25em) {
  .menu-open .menu-icon::before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .menu-open .menu-icon::after {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
  .menu-open .menu-icon span {
    width: 0;
    left: 50%;
  }
}
/* ------------------ */