@import "_reset.scss";
@import "_common.scss";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");

/* ====================== ШРИФТИ =============================== */

/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */

/*  body {
	/* font-family: "Poppins", sans-serif;  Times New Roman  за замовченням */
	/* font-size: 14px;  16 за замовченням */
	/* font-weight: 300;  400 (Regular) за замовченням */
	/* color: #6c757d;  #000000 (чорний) за замовченням 
} */



/* Пример */

body {
    font-family: "Oswald", sans-serif; 
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}

[class*="__container"] {
	max-width: 1908px; 
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
} 

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}


/* ------------------ */


.page {
	// .page__brand
	&__brand {
		padding-top: 120px;

	}
}
.brand {
	// .brand__items
	&__items {
		border: 2px solid #C4C4C4;
		padding: 28px 11px;
	}
	// .brand__title
	&__title {
		text-align: center;
		padding: 0 90px;
		font-weight: 400;
		font-size: 24px;
		line-height: 2.83; /* 68/24 */
		/* or 283% */
		text-transform: uppercase;
	}
	// .brand__list
	&__list {
		display: grid;
		grid-template: 1fr /  repeat(7, 1fr);
		justify-items: center;
		align-items: center;
		align-content: center;
	}
	// .brand__item
	&__item {}
	// .brand__link
	&__link {}
}

