@import "_reset.scss";
@import "_common.scss";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");

/* ====================== ШРИФТИ =============================== */

/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */

/*  body {
	/* font-family: "Poppins", sans-serif;  Times New Roman  за замовченням */
	/* font-size: 14px;  16 за замовченням */
	/* font-weight: 300;  400 (Regular) за замовченням */
	/* color: #6c757d;  #000000 (чорний) за замовченням 
} */



/* Пример */

body {
    font-family: "Oswald", sans-serif; 
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}

[class*="__container"] {
	max-width: 1908px; 
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
} 

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}


/* ------------------ */


.page {
	// .page__brand
	&__brand {
		padding-top: 60px;
		margin-bottom: 30px;
	}
}
.brand {
	// .brand__items
	&__items {
		border: 2px solid #C4C4C4;
		padding: 28px 11px;
		position: relative;
	}
	// .brand__title
	&__title {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		padding: 0 90px;
		font-weight: 400;
		font-size: 24px;
		line-height: 1; /* 68/24 */
		/* or 283% */
		text-transform: uppercase;
		background-color: #fff;
		@media (max-width: 767.98px) {
			padding: 0 25px;
		}
	}
	// .brand__list
	&__list {
		
		display: grid;
		grid-template: 1fr /  repeat(auto-fit, minmax(235px, 1fr));
		justify-items: center;
		align-items: center;
		gap: 35px;
		@media (max-width: 767.98px) {
			gap: 20px;
		}
	}
	// .brand__item
	&__item {
		min-height: 141px;
		min-width: 235px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: 992px) {
			&.active {
				background-color: #F0F2F2;
			}
		}
		&:hover {
			background-color: #F0F2F2;
		}
	}
	// .brand__link
	&__link {
		display: inline-block;
		img {
			max-width: 100%;
		}
	}
}



.page {
	// .page__cards
	&__cards {
		margin-bottom: 30px;
	}
}
.cards {
	// .cards__container
	&__container {}
	// .cards__items
	&__items {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-flow: row;
		grid-auto-rows: 1fr;
		grid-auto-columns: 1fr;
		gap: 20px;
		@media (min-width: 1497px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
	}
	// .cards__item
	&__item {
		display: flex;
		&:nth-child(1) {
			align-items: flex-start;
			justify-content: flex-end;
			min-height: 270px;
			padding: 80px 60px;
			@media (max-width: 572px) {
				padding: 80px 13px;
			}
		}
		&:nth-child(2) {
			align-items: flex-end;
			justify-content: flex-start;
			min-height: 204px;
			padding: 115px 95px;
			@media (max-width: 572px) {
				padding: 115px 13px;
			}
		}
		&:nth-child(3) {
			align-items: flex-end;
			justify-content: flex-start;
			min-height: 365px;
			padding: 100px 85px;
			@media (min-width: 1497px) {
				grid-column: 2 / 3;
				grid-row: 1 / span 2;
			}
			@media (max-width: 572px) {
				padding: 100px 13px;
			}
			img {
				object-position: top;
			}
		}
		position: relative;
		overflow: hidden;
		// padding-top: 46.969697%; /* 434/924 */
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.item-card {
	
	// .item-card__text
	&__text {
		max-width: 370px;
		position: relative;
		z-index: 1;
	}
	// .item-card__title
	&__title {
		font-weight: 600;
		font-size: 48px;
		line-height: 1.29;
		text-transform: uppercase;
		margin-bottom: 5px;
		@media (max-width: 572px) {
			font-size: 40px;
		}
	}
	// .item-card__about
	&__about {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 22px;
		line-height: 1.68;
		letter-spacing: 0.01em;
		margin-bottom: 51px;
		@media (max-width: 572px) {
			margin-bottom: 25px;
		}
	}
	// .item-card__link
	&__link {
		display: inline-block;
		padding: 20px 45px;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.50; /* 27/18 */
		text-align: center;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		border: 2px solid #000000;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: #000;
			color: #fff;
		}
		@media (max-width: 767.98px) {
			padding: 15px 30px;
		}
	}
}



.page {
	// .page__dress-cards
	&__dress-cards {
		margin-bottom: 64px;
	}
}
.dress-cards {
	// .dress-cards__container
	&__container {
		display: grid;
		grid-template-columns: minmax(395px, 1fr) 4fr;
		@media (max-width: 1450px) {
			grid-template-columns: minmax(270px, 1fr) 4fr;
		}
		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;
			gap: 15px;
		}
	}
	// .dress-cards__form
	&__form {}
	// .dress-cards__wrapper
	&__wrapper {
		padding: 0 0 25px 30px;
		border-left: 1px solid #C4C4C4;
		@media (max-width: 767.98px) {
			padding: 0;
			border-left: none;
		}
	}
	// .dress-cards__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		row-gap: 25px;
		column-gap: 50px;
		align-items: start;
		&:not(:last-child) {
			margin-bottom: 64px;
		}
		@media (max-width: 1450px) {
			grid-template-columns: repeat(3, 1fr);
			column-gap: 35px;
			row-gap: 20px;
		}
		@media (max-width: 991.98px) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 25px;
			&:not(:last-child) {
				margin-bottom: 45px;
			}
		} 
		@media (max-width: 543px) {
			column-gap: 15px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: 405px) {
			grid-template-columns: 1fr;
		}
	}
	&__btn {
		text-align: center;
	}
	// .dress-cards__more
	&__more {
		display: inline-block;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.50; /* 21/14 */
		text-align: center;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #828282;
		border: 2px solid #C4C4C4;
		padding: 18px 36px;
		transition: border 0.3s, color 0.3s;
		&:hover {
			border: 2px solid #000;
			color: #000;
		}
		@media (max-width: 500px) {
			padding: 15px 30px;
		}
	}
}
.form-filter {
	// .form-filter__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.5;
		margin-bottom: 30px;
		@media (max-width: 767.98px) {
			margin-bottom: 15px;
		}
	}
	// .form-filter__lines
	&__lines {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
		flex-direction: column;
	}
	// .form-filter__line
	&__line {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		text-transform: uppercase;
		position: relative;
	}
	// .form-filter__input
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .form-filter__label::before {
			background: url(../img/icons/arrow.svg) center / 100% no-repeat;
			background-color: #000;
		}
	}
	// .form-filter__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		gap: 10px;
		&::before {
			content: "";
			flex: 0 0 10px;
			width: 10px;
			height: 10px;
			border: 1px solid #828282;
		}
	}
}

.card-dress {
	// .card-dress__item
	&__item {
		display: block;
	}
	// .card-dress__image
	&__image {
		position: relative;
		overflow: hidden;
		padding-bottom: 127.118644%; /* 450/354 */
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		margin-bottom: 15px;
	}
	// .card-dress__category
	&__category {
		display: inline-block;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.50; /* 18/12 */
		text-transform: uppercase;
		color: #BDBDBD;
		margin-bottom: 10px;
	}
	// .card-dress__text
	&__text {
		line-height: 1.50; /* 27/18 */
		margin-bottom: 22px;
	}
	// .card-dress__price
	&__price {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 15px;
		span {
			color: #EB5757
		}
	}
	// .card-dress__discount
	&__discount {
		background-color: #000;
		min-width: 40px;
		text-align: center;
		top: 15px;
		position: absolute;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.50; /* 21/14 */
		color: #FFFFFF;
	}
}
.price-dress {
	// .price-dress__new
	&__new {
		font-weight: 500;
		font-size: 22px;
		line-height: 1.50; /* 33/22 */
		text-transform: uppercase;
		@media (max-width: 479.98px) {
			font-size: 20px;
		}
	}
	// .price-dress__old
	&__old {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.50; /* 21/14 */
		text-transform: uppercase;
		color: #828282;
	}
}

.page {
	// .page__shop-now
	&__shop-now {
		margin-bottom: 77px;
	}
}





.shop-now {
	// .shop-now__block
	&__block {
		position: relative;
		min-height: 312px;
		padding: 78px 270px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}
	// .shop-now__text
	&__text {
		position: relative;
		z-index: 1;
		max-width: 640px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: -19px;
			right: 0;
			width: 95%;
			height: 2px;
			background-color: #000;
		}
		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			top: -19px;
			right: 0;
			width: 2px;
			height: 30%;
			background-color: #000;
		}
	}
	// .shop-now__title
	&__title {
		font-weight: 500;
		font-size: 56px;
		line-height: 1.3;
		text-transform: uppercase;
		margin-bottom: 17px;
	}
	// .shop-now__about
	&__about {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 25px;
		line-height: 1.48;
		letter-spacing: 0.01em;
		margin-bottom: 24px;
	}
	// .shop-now__link
	&__link {
		display: inline-block;
		padding: 20px 48px;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		text-align: center;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #000000;
		border: 2px solid #000000;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: #000;
			color: #FFFFFF;
		}
	}
}



.page {
	// .page__product-navigation
	&__product-navigation {
		margin-bottom: 118px;
	}
}
.product-navigation {
	// .product-navigation__container
	&__container {
	
	}
	// .product-navigation__row
	&__row {
		&:not(:last-child) {
			margin-bottom: 80px;
		}
	}
	// .product-navigation__header
	&__header {
		margin-bottom: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
	// .product-navigation__items
	&__items {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-flow: row;
		gap: 30px;
	}
	// .product-navigation__item
	&__item {
		align-self: start;
	}
}
.header-navigation {
	// .header-navigation__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.5;
	}
	// .header-navigation__btns
	&__btns {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}
	// .header-navigation__btn
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: 2px solid #C4C4C4;
		transition: background-color 0.3s;
		&:hover {
			background-color: #C4C4C4;
		}
	}
}
.item-product {
	// .item-product__wrapper
	&__wrapper {
		display: block;
	}
	// .item-product__image
	&__image {
		position: relative;
		overflow: hidden;
		padding-top: 127.478754%; /* 450/353 */
		img {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			object-fit: cover;
		}
		margin-bottom: 15px;
	}
	// .item-product__category
	&__category {
		display: inline-block;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.50; /* 18/12 */
		text-transform: uppercase;
		color: #BDBDBD;
		margin-bottom: 12px;
	}
	// .item-product__descr
	&__descr {
		line-height: 1.50; /* 27/18 */
		margin-bottom: 14px;
	}
	// .item-product__price
	&__price {
		font-weight: 500;
		font-size: 22px;
		line-height: 1.5; /* 33/22 */
		text-transform: uppercase;
	}
}



.page {
	// .page__explore-product
	&__explore-product {
		margin-bottom: 82px;
	}
}
.explore-product {
	// .explore-product__container
	&__container {
		display: flex;
	}
	// .explore-product__image
	&__image {
		position: relative;
		overflow: hidden;
		padding-top: 34.245283%; /* 363/1060 */
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .explore-product__text
	&__text {}
	// .explore-product__title
	&__title {}
	// .explore-product__about
	&__about {}
	// .explore-product__link
	&__link {}
}





