/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");


/* ====================== ШРИФТИ =============================== */

/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */

/*  body {
	/* font-family: "Poppins", sans-serif;  Times New Roman  за замовченням */
	/* font-size: 14px;  16 за замовченням */
	/* font-weight: 300;  400 (Regular) за замовченням */
	/* color: #6c757d;  #000000 (чорний) за замовченням 
} */


/* &display=swap */


/* Пример */

/* body {
    font-family: "Poppins" ,serif; 
    font-size: 14px;
    font-weight: 300;
    color: #6C757D;
}

[class*="__container"] {
	max-width: 1270px; 
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
} */