


@mixin title($textColor: #F8F9FA, $fontWeight: 700, $liheHeight: 1.6, $fontSize: rem(25)) {
    color: $textColor;
    font-weight: $fontWeight;
    line-height: $liheHeight;
    font-size: $fontSize;
}

.title {
    @include title();
}

%link-style {
    display: inline-block;
    padding: rem(3) rem(12);
    font-size: rem(8);
    line-height: 2.5;
    color: #F8F9FA;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(33, 37, 41, 0.3);
    border-radius: rem(3)
}

.link-category {
    @extend %link-style;
}