%title {
    font-size: rem(25);
    line-height: 40;
}

@mixin title($textColor: #F8F9FA, $fontWeight: 700) {
    color: $textColor;
    font-weight: $fontWeight;
    @extend %title;
}


%nav-style {
    font-weight: 500;
    line-height: 25;
    color: rgba(248, 249, 250, 0.5);
}