
@use "sass:math";
@import "_mixins.scss";
@import "_reset.scss";
@import "_common.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

/* ====================== ШРИФТИ =============================== */

/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */

body {
    font-family: "Poppins", serif; 
    font-size: rem(12);
    font-weight: 300;
    color: #E5E5E5;
}

[class*="__container"] {
	max-width: rem(1270); 
	margin: 0 auto;
	padding-left: rem(15);
	padding-right: rem(15);
} 

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------ */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: rgba(0, 0, 0, 0.2);
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		min-height: rem(97);
		padding-top: rem(5);
		padding-bottom: rem(5);
		gap: rem(10);
		@media (max-width: em(767.98)){
			min-height: rem(50);
		}
	}
	// .header__logo
	&__logo {
		font-weight: 700;
		font-size: rem(18);
		line-height: 1.38; /* 25/18 */
		display: inline-flex;
		align-items: flex-end;
		position: relative;
		z-index: 1;
		&::after{
			content:'.';
			color: #DDBEA9;
		}
	}
	// .header__navigation
	&__navigation {
		flex: 1 1 auto;
		justify-content: flex-end;
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(25);
	}
	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		gap: rem(25);
		flex-direction: 1 1 auto;
		justify-content: flex-end;
		@media (min-width:em(660)){
			&:not(:last-child) {
				&::after{
					content:'';
					background-color: rgba(229, 229, 229, 0.5);
					width: rem(1);
					flex: 0 0 rem(1);
					height: rem(25);
				}
			}
		}
	}
	// .header__search
	&__search {
		background: url('../img/icons/search.svg') center no-repeat;
		align-self: stretch;
		flex: 0 0 rem(22);
		transform: translate(rem(5), rem(0));
		@media (max-width:em(660)){
		transform: translate(rem(0), rem(0));
		background-size: 100%;
		}
	}
}

.menu {
	&__body {
		@media (max-width: em(660)){
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			background-color: #212529;
			padding: rem(70) rem(15) rem(20) rem(15);
			transition: left 0.3s;
			.menu-open & {
				left: 0;
			}
			&::before {
				content: "";
				position: fixed;
				height: rem(50);
				width: 100%;
				top: 0;
				left: -100%;
				background-color: #86111188;
				z-index: 1;
				transition: left 0.3s;
				.menu-open & {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(25);
		row-gap: rem(5);
		@media (max-width: em(660)){
			flex-direction: column;
			row-gap: rem(20);
		}
	}
	// .menu__item
	&__item {
		.menu__link.active {
			color: #fff;
		}
		.menu__link.active::before {
			width: 100%;
			left: 0;
		}
		@media (any-hover: hover){
			&:hover .menu__link {
				color: #fff;
			}
			&:hover .menu__link::before {
				width: 100%;
				left: 0;
			}
		}
		&_parent {
			position: relative;
			padding-right: rem(13);
			@media (any-hover: hover){
				&:hover .sub-menu{
					top: 100%;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}
		// .menu__item_parent
		&_parent {
			@media (min-width:em(660)){
				&::after{
					content:'';
					position: absolute;
					top: rem(10);
					right: 0;
					width: rem(8);
					height: rem(5);
					background: url('../img/icons/arrow.svg') 0 0 / 100% no-repeat;
				}
			}
		}
	}
	// .menu__link
	&__link {
		@media (max-width: em(660)){
			font-size: rem(24);
			color: #ffff;
		}
		font-weight: 500;
		line-height: 2.08; /* 25/12 */
		color: rgba(248, 249, 250, 0.5);
		transition: color 0.3s;
		display: inline-block;
		position: relative;
		&::before {
			content:'';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: rem(2);
			background-color: #DDBEA9;
			border-radius: rem(2);
			transition: width 0.3s;
		}
	}
	// .menu__sub-menu
	&__sub-menu {
		
	}
}
.sub-menu {
	
	@media (min-width:em(660)){
		position: absolute;
		top: 120%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;
		padding-top: rem(10);
		pointer-events: none;
	}
	&__list {
		background-color: #212529;
		border-radius: rem(5);
		padding: rem(20);
		min-width: rem(140);
		@media (max-width: em(660)){
			padding: rem(10) 0 0 0;
			min-width: 0;
		}
	}
	// .sub-menu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .sub-menu__link
	&__link {
		font-weight: 500;
		line-height: 2.08; /* 25/12 */
		color: rgba(248, 249, 250, 0.6);
		transition: color 0.3s;
		@media (any-hover: hover){
			&:hover {
				color: #F8F9FA;
			}
		}
		@media (max-width: em(660)){
			font-size: rem(16);
		}
	}
}
.menu-icon {
	display: none;
	@media (max-width: em(660)){
		display: block;
		flex: 0 0 rem(30);
		height: rem(18);
		position: relative;
		&::before, &::after, span{
			content:'';
			position: absolute;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: #fff;
			transition: all 0.3s;
		}
		&::before{
			top: 0;
			.menu-open & {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		}
		&::after{
			bottom: 0;
			.menu-open & {
				bottom: 50%;
				transform: translateY(50%) rotate(45deg);
			}
		}
		span {
			top: 50%;
			margin-top: rem(-0.5);
			.menu-open & {
				width: 0;
				left: 50%;
			}
		}
	}
}



/* ------------------ */



.page {
	// .page__presentation
	&__presentation {}
}


.presentation {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	padding-top: rem(120);
	padding-bottom: rem(100);
	// .presentation__container
	&__container {
		flex: 1 1 auto;
	}
	// .presentation__content
	&__content {
		max-width: rem(605);
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: rem(15);
	}
	// .presentation__date
	&__date {
		line-height: 1.7; /* 20/12 */
	}
	// .presentation__title
	&__title {

	}
	// .presentation__text
	&__text {
		line-height: 1.7;
		max-width: rem(360);
	}
	// .presentation__bg
	&__bg {
		position: absolute;
		height: 100%;	
		width: 100%;
		top: 0;
		left: 0;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.page {
		// .page__articles-cards
		&__articles-cards {}
}
.articles-cards {
	padding: rem(100) rem(0);
		// .articles-cards__container
		&__container {}
		// .articles-cards__header
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: rem(45);
		}
		// .articles-cards__items
		&__items {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(rem(393), 1fr));
			column-gap: rem(30);
			row-gap: rem(45);
			@media (max-width: em(479.98)){
				grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
			}
		}
		// .articles-cards__item
		&__item {}
		// .articles-cards__more
		&__more {}
}
.cards-header {
		// .cards-header__categories
		&__categories {
			display: inline-flex;
			line-height: 2.08;
			color: #495057;
			gap: rem(7);
			align-items: center;
			font-weight: 500;
			&::after{
				content:'+';
				
			}
		}
		// .cards-header__tabs
		&__tabs {}
		// .cards-header__column
		&__column {
			&:not(:last-child) {
				margin-right: rem(20);
			}
			line-height: 2.08;
			color: rgba(73, 80, 87, 0.5);
			transition: color 0.3s;
			&.active {
				color: #495057;
			}
			@media (any-hover: hover){
				&:hover{
					color: #495057;
				}
			}
		}
}
.item-article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: rem(3);
	gap: rem(15);
		// .item-article__image
		&__image {
			position: relative;
			overflow: hidden;
			padding-top: 63.613232%; /* 250/393 */
			@media (any-hover: hover){
				&:hover{
					img {
						transform: scale(1.05);
					}
				}
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 0.5s;
			}
		}
		&__link {
			position: absolute;
			top: rem(30);
			right: rem(30);
			transition:  background-color 0.3s;
			@media (any-hover: hover){
				&:hover {
					background-color:rgba(50, 46, 46, 0.7);
				}
			}
		}
		// .item-article__date
		&__date {
			color: #495057;
			line-height: 1.67;
		}
		// .item-article__title
		&__title {
			&.title {
				@include title($textColor: #212529);
				a {
					@media (any-hover: hover){
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
		// .item-article__text
		&__text {
			color: #495057;
			line-height: 1.67;
			flex-grow: 1;
		}
		// .item-article__author
		&__author {
			padding-top: rem(15);
			border-top: 1px solid #E5E5E5;;
			color: #495057;
			line-height: 1.67;
			@media (any-hover: hover){
				&:hover{
					text-decoration: underline;
				}
			}
		}
}


.page {
	// .page__featured-topics
	&__featured-topics {}
}
.featured-topics {
	@media (min-width:em(767)){
		display: flex;
	}
	// .featured-topics__content
	&__content {
		flex: 0 0 100%;
		background-color: #212529;
	}
	// .featured-topics__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .featured-topics__body
	&__body {
		padding: rem(100) rem(0) rem(100) rem(0);
		@media (min-width:em(767)){
			width: 50%;
			padding: rem(100) rem(140) rem(100) rem(0);
		}
	}
	// .featured-topics__image-content
	&__image-content {
		@media (min-width:em(767)){
			flex: 0 0 50%;
			transform: translate(-100%, 0);
		}
	}
}
.body-featured {
	// .body-featured__block
	&__block {

	}
	// .body-featured__title
	&__title {
		&.title {
			@include title($fontWeight: 500, $liheHeight: 1);
			margin-bottom: rem(60);
		}
	}
	// .body-featured__items
	&__items {}
	// .body-featured__item
	&__item {
		display: flex;
		align-items: flex-start;
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
}
.item-featured {
	// .item-featured__image
	&__image {
		flex: 0 0 36.345382%; /* 181/498 */
		position: relative;
		padding-bottom: 36.345382%; /* 181/498 */
		overflow: hidden;
		border-radius: rem(5);
		@media (any-hover: hover){
			&:hover{
				img {
					transform: scale(1.1);
				}
			}
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.5s;
		}
	}
	// .item-featured__text
	&__text {
		flex: 0 0 63.654618%; /* 317/498 */
		padding-left: rem(30);
	}
	// .item-featured__date
	&__date {
		line-height: 1.7;
		margin-bottom: em(15, 12);
		display: inline-block;
	}
	// .item-featured__title
	&__title {
		&.title {
			@include title( $fontWeight: 500, $liheHeight: 1.6,  $fontSize: rem(16));
			margin-bottom: em(15, 16);
		}
	}
	// .item-featured__about
	&__about {
		line-height: 1.7;
	}
}
.image-content {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	@media (max-width: em(767.98)){
		min-height: rem(370);
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .image-content__text
	&__text {
		text-align: center;
		position: relative;
		z-index: 1;
		max-width: rem(400);
		min-height: rem(170);
		padding: rem(10);
	}
	// .image-content__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(15, 25);
		}
	}
	// .image-content__about
	&__about {
		line-height: 1.66; /* 20/12 */
	}
}

.page {
	// .page__big-world
	&__big-world {
		padding-top: rem(100);
		padding-bottom: rem(100);
		@media (max-width: em(991.98)){
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}
}
.big-world {
	// .big-world__container
	&__container {}
	// .big-world__title
	&__title {
		&.title {
			@include title($textColor: #495057, $fontWeight: 500, $liheHeight: 1, $fontSize: rem(25));
			@media (max-width:em(991.98)){
				font-size: rem(20);
			}
		}
		&:not(:last-child) {
			margin-bottom: em(60, 25);
		}
	}
	// .big-world__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(287), 1fr));
		gap: rem(30);
	}
	// .big-world__item
	&__item {}
}
.title {
}
.item-world {
	// .item-world__image
	&__image {
		position: relative;
		overflow: hidden;
		border-radius: rem(5);
		padding-top: 69.686411%; /* 200/287 */
		margin-bottom: rem(30);
		@media (any-hover: hover){
			&:hover{
				img {
					transform: scale(1.1);
				}
			}
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.5s;
		}
	}
	// .item-world__link
	&__link {
		position: absolute;
		top: rem(25);
		right: rem(25);
		transition: background-color 0.3s;
		@media (any-hover: hover){
			&:hover{
				&.link-category {
					background-color: rgba(33, 37, 41, 0.7);
				}
			}
		}
	}
	// .item-world__wrapper
	&__wrapper {
		* {
			margin-bottom: rem(15);
		}
	}
	// .item-world__date
	&__date {
		display: inline-block;
		color: #495057;
		line-height: 1.7;
	}
	// .item-world__title
	&__title {
		&.title {
			@include title($textColor: #212529, $fontWeight: 500, $liheHeight: 1.7, $fontSize: rem(16));
		}
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
	// .item-world__text
	&__text {
		line-height: 1.7;
		color: #495057;
	}
}
.link-category {
}


.footer {
	background-color: #212529;
	padding-top: rem(40);
	padding-bottom: rem(40);
	// .footer__container
	&__container > * {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .footer__top
	&__top {
		padding-bottom: rem(40);
		border-bottom: 1px solid rgba(229, 229, 229, 0.2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(10);
		@media (max-width: em(479.98)){
			flex-direction: column;
			justify-content: center;
		}
	}
	// .footer__logo
	&__logo {
		font-weight: 700;
		font-size: rem(18);
		line-height: 1.4;
		color: #F8F9FA;
		display: inline-flex;
		align-items: flex-end;
		&::after{
			content:'.';
			color: #DDBEA9;
		}
	}
	// .footer__navigation
	&__navigation {}
	// .footer__bottom
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(5);
	}
	// .footer__address
	&__address {
		@extend %footer-style;
	}
	// .footer__rights
	&__rights {
		@extend %footer-style;
	}
}
.navigation-footer {
	// .navigation-footer__list
	&__list {
		display: flex;
		column-gap: rem(25);
		flex-wrap: wrap;
		row-gap: rem(10);
	}
	// .navigation-footer__item
	&__item {
		position: relative;
		@media (any-hover: hover){
			&:hover{
				&::before {
					width: 100%;
					left: 0;
				}
			}
		}
		&::before{
			content:'';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 2px;
			background-color: #e58b2b;
			border-radius: rem(5);
			transition: width 0.5s;
		}
	}
	// .navigation-footer__link
	&__link {
		display: inline-block;
		@extend %footer-style;
	}
}
