/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

/* ====================== ШРИФТИ =============================== */

/* Встановлює насиченість (товщину) шрифту
font-weight: цифрове значення або значення словом (словесне);
успадковується

100 - thin 
300 - light 
400 - Regular (normal) (за замовчуванням)
500 - medium 
600 - semibold 
700 - bold 
900 - black */

/*  body {
	/* font-family: "Poppins", sans-serif;  Times New Roman  за замовченням */
	/* font-size: 14px;  16 за замовченням */
	/* font-weight: 300;  400 (Regular) за замовченням */
	/* color: #6c757d;  #000000 (чорний) за замовченням 
} */



/* Пример */

body {
    font-family: "Poppins" ,serif; 
    font-size: 12px;
    font-weight: 300;
    color: #6C757D;
}

[class*="__container"] {
	max-width: 1270px; 
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
} 

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

/*  */


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #d38c8c;
	z-index: 55;
}
.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 72px;
	padding-top: 5px;
	padding-bottom: 5px;
	column-gap: 10px;
}
.header__logo {
	display: inline-flex;
	align-items: flex-end;
	line-height: 1.38;
	font-size: 18px;
	font-weight: 700;
	color: #495057;
}

.header__logo::after {
	content: ".";
	color: #DDBEA9;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 3px;
}
.menu__item {
}
.menu__link {
	line-height: 2.08;
	font-weight: 500;
	position: relative;
	display: inline-block;
	color: rgba(73, 80, 87, 0.5);
	transition: color 0.3s;
}

.menu__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 2px;
	width: 0;
	background-color: #DDBEA9;
	border-radius: 2px;
	transition: width 0.3s,  left 0.3s;
}
.menu__link.active {
	color: #495057;
}

.menu__link.active::before {
	width: 100%;
	left: 0;
}

.menu__item_parent {
	position: relative;
	padding-right: 13px;
}

.sub-menu__link {
	line-height: 2.08;
	font-weight: 500;
	color: rgba(248, 249, 250, 0.6);
	transition: color 0.3s;
}



.header__actions {
	display: flex;
	column-gap: 25px;
	align-items: center;
}
.actions {
}
.actions__link {
	line-height: 2.08;
	font-weight: 500;
	color: rgba(73, 80, 87, 0.5);
	transition: color 0.3s;
}
.actions__start {
	min-width: 100px;
	color: #F8F9FA;
	line-height: 2.08;
	font-weight: 500;
	background-color: #DDBEA9;
	border-radius: 20px;
	padding: 8px 16px;
	transition: background-color 0.3s;
}



.menu-icon {
	display: none;
}
/* ------------------------------ */
.page {
	padding-top: 100px;
	padding-bottom: 100px;
}
.page__slider-header {
}
.page__topics {
	padding-top: 100px;
}
/* -------------------------------- */


.slider-header___container {
	position: relative;
}
.slider-header__background {
	position: relative;
	padding-bottom: 40.322581%; /* 500/1240 */
	overflow: hidden;
	border-radius: 5px;
}


.slider-header__background img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s;
}

.slider-header__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 370px;
}
.slider-header__author {
	text-align: center;
	line-height: 1.66;
	margin-bottom: 15px;
	color: #E5E5E5
}
.slider-header__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	text-align: center;
	color: #F8F9FA;
}
/* ------------------------------  */


.topics__body {
	max-width: 1028px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
}


.topics__content {
	flex: 0 1 61.089494%; 
	padding-left: 30px;
}
.topics__items {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.topics__items:not(:last-child) {
	margin-bottom: 60px;
}
.topics__item {
	display: flex;
	align-items: flex-start;
}
.item-topic {
}
.item-topic__inner {
	flex: 0 0 47.438017%; /* 287/605 */
}
.item-topic__image {
	display: block;
	position: relative;
	padding-top: 69.686411%; /* 200/287 */
	overflow: hidden; 
	border-radius: 5px;
}


.item-topic__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s;
}
.item-topic__body {
	display: flex;
	padding-left: 30px;
	flex: 0 1 52.561983%;
	flex-direction: column;
	row-gap: 15px;
}
.item-topic__date, .item-topic__text, .page-topics__link, .item-topic__footer  {
	line-height: 1.66; /* 20/12 */
}
.item-topic__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56; /* 25/16 */
	color: #212529;
}
.item-topic__text {
	flex: 1 1 auto;
}
.item-topic__footer {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	border-top: 1px solid #E5E5E5;
}

.item-topic__favorite {
	display: inline-block;
	padding-left: 18px;
	background: url(../img/icons/favorite.svg) left center no-repeat;
}

.page-topics__list {
	display: flex;
	column-gap: 15px;
	row-gap: 10px;
}

.page-topics__link {
	line-height: 1.66;
	display: inline-block;
	position: relative;
}
.page-topics__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: #DDBEA9;
	transition: width 0.3s;
}
.page-topics__link.active::before {
	width: 100%;
}


/* ---------------------------- */
.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #212529;
}
.footer__container {
}
.footer__rows {
	display: flex;
	flex-direction: column;
	row-gap: 40px
}
.footer__line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__line_border {
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.footer__logo {
	display: inline-flex;
	align-items: flex-end;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.38; /* 25/18 */
	color: #F8F9FA;
}

.footer__logo::after {
	content: ".";
	color: #DDBEA9;
}
.footer__list {
	display: flex;
	align-items: center;
	column-gap: 25px;
	row-gap: 10px;
}

.footer__link, .languages-list__link, .footer__rights, .footer__address {
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08; /* 25/12 */
	color: rgba(248, 249, 250, 0.5);
}
.footer__link {
	position: relative;
	transition: color 0.3s;
	display: inline-block;
}
.footer__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #DDBEA9;
	transition: width 0.3s, left 0.3s;
}


.languages-list {
	display: flex;
	column-gap: 25px;
}

.topics__left-side {
	display: none;
}


/* ------------------- */

@media (min-width: 768px) {
	.menu__item_parent::after {
		content: "";
		position: absolute;
		top: 9px;
		right: 0;
		background: url(../img/icons/arrow.svg) 0 0 / 100% no-repeat;
		width: 8px;
		height: 5px;	
	}
	.sub-menu {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		padding-top: 10px;
		position: absolute;
		transition: all 0.3s;
	}
	.sub-menu__list {
		min-width: 136px;
		background-color: #212529;
		border-radius: 5px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}

@media (max-width: 767.98px) {
	.page {
		padding-top: 90px;
		padding-bottom: 70px;
	}
	.header__container {
		min-height: 50px;
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #68bf98;
		z-index: -1;
		transition: left 0.3s;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 50px;
		z-index: 1;
		background-color: #fff;
		transition: left 0.3s;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before {
		left: 0;
	}
	.menu__list {
		flex-direction: column;
		padding: 70px 15px 20px 15px;
		row-gap: 20px;
	}
	.menu__link, .menu__link.active {
		color: #F8F9FA;
		font-size: 20px;
	}
	.sub-menu__link {
		font-size: 14px;
	}
	.menu-icon {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		width: 30px;
		position: relative;
	}
	.menu-icon::before, .menu-icon::after, .menu-icon span {
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color: #000;
	} 
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
	}
	.menu-open .menu-icon::before {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .menu-icon span {
		width: 0;
		left: 50%;
	}
	.topics__items {
		align-items: center;
	}
	.page-topics__list {
		justify-content: center;
		column-gap: 40px;
	}
	.slider-header__title {
		font-size: 21px;
	}
	.footer {
		padding-top: 70px;
		padding-bottom: 60px;
	}
}
@media (max-width: 605px) {

}

@media (max-width: 574px) {
	.footer__list {
		display: none;
	}
	.footer {
		padding-top: 50px;
	}
	.page {
		padding-bottom: 48px;
	}
	.item-topic__title {
		font-size: 14px;
	}
	.slider-header__background {
		padding-top: 50px;
	}
}

@media (max-width: 465px) {
	.slider-header__title {
		font-size: 19px;
	}
	.topics__content {
		padding-left: 0;
	}
	.topics__item {
		flex-direction: column;
		row-gap: 22px;
	}
	.item-topic__inner {
		flex: 0 1 auto;
		width: 100%;
	}
	.item-topic__body {
		padding-left: 0;
	}
}

@media (max-width: 465px) {
	.footer {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.slider-header__title {
		font-size: 16px;
	}
	.footer__line_mod {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
}

@media (max-width: 336px) {
	.header__actions {
		column-gap: 12px;
	} 
	.actions__start {
		padding: 6px 12px;
	}
}


@media (any-hover: hover) {
	.actions__link:hover {
		color: #495057;
	}
	.menu__item:hover .menu__link {
		color: #495057;
	}
	.menu__item:hover .menu__link::before {
		width: 100%;
		left: 0;
	}
	.menu__item_parent:hover .sub-menu {
		visibility: visible;
		opacity: 1;
		pointer-events: visible;
	}
	.sub-menu__link:hover {
		color: #F8F9FA;
	}
	.page-topics__item:hover .page-topics__link::before {
		width: 100%;
		left: 0;
	}
	.menu-side__item:hover .menu-side__link {
		text-decoration: underline;
	}
	.item-topic__author:hover {
		text-decoration: underline;
	}	
	.footer__item:hover .footer__link {
		color: #F8F9FA;
	}
	.footer__item:hover .footer__link::before {
		width: 100%;
		left: 0;
	}
	.languages-list__item:hover .languages-list__link {
		text-decoration: underline;
	}
	.item-topic__inner:hover .item-topic__image img {
		transform: scale(1.05);
	}
	.actions__start:hover {
		background-color: #bb8a6a;
	}
	.slider-header__background:hover img {
		transform: scale(1.05);
	}
}

/* Adaptive */

@media (min-width: 921px) {
	.topics__left-side {
		flex: 0 1 38.910506%; /* 400/1028 */
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
	
	
	.left-side__title {
		font-weight: 700;
		font-size: 25px;
		line-height: 1.6;
		color: #212529;
	}
	
	.menu-side__item:not(:last-child) {
		margin-bottom: 10px;
	}
	.menu-side__link {
		font-weight: 500;
		font-size: 12px;
		line-height: 2.08;
		color: #495057;
		padding-left: 20px;
		display: inline-block;
		position: relative;
	}
	
	
	
	.menu-side__link::before {
		content: "+";
		position: absolute;
		top: 0;
		left: 0;
	}
	.left-side__search {
		font-weight: 500;
		font-size: 12px;
		line-height: 2.08;
		color: rgba(73, 80, 87, 0.5);
		display: inline-block;
		padding-left: 22px;
		background: url(../img/icons/search.svg) left center no-repeat;
	}
}

@media (max-width: 991.98px) {
	.page__topics {
	padding-top: 70px;
	}
}

@media (max-width: 921px) {
	.page__topics {
		padding-top: 50px;
		}
	.topics__content {
		flex: 0 1 100%;
	}
}

/*  */